<div class="container col-md-offset-2">
	<div class="row">
		<div class="col-xs-12">
			<h2 style="text-align: center;">Chat</h2>
		</div>
		<div class="col-md-3">
			<div class="form-group">
				<label>Nickname</label>
				<div class="input-group input-group-lg">
				  <input type="text" class="form-control" placeholder="Nickname..." py-input="{(event) => this.state.nick = event.target.value}" value="${this.state.nick}">
				</div>
			</div>
		</div>
		<div ref="chat" class="col-md-6" style="height: 320px; overflow-y: auto">
			${this.state.notes.map((note) => this.templates.note(this, note))}
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="form-group">
				<label>Comment</label>
				<div class="input-group input-group-lg">
				  <input type="text" class="form-control" placeholder="Write a comment..." py-input="{(event) => this.state.note = event.target.value}" py-keypress="{this.onKeyPress.bind(this)}" value="${this.state.note}">
				  <span class="input-group-btn">
				    <button ${(!this.state.nick || !this.state.note) ? 'disabled' : ''} class="btn btn-primary" type="button" py-click="{this.addNote.bind(this)}">send!</button>
				  </span>
				</div>
			</div>
		</div>
	</div>
</div>